{{ define "posts/index.tmpl" }}
{{template "layouts/header.tmpl"}}
  <h1 class="title">
  {{ .title }}
</h1>
<p class="color-red">{{ .content }}</p>

<div id="app"></div>


{{template "layouts/footer.tmpl" .}}
{{ end }}
