{{define "layouts/_pkg_vue.tmpl"}}
{{ if isDev }}
<script src="/public/javascripts/vue.global.js"></script>
{{ else }}
<script src="/public/javascripts/vue.global.prod.js"></script>
{{ end }}
{{end}}
