{{ define "home/index.tmpl" }}
{{template "layouts/header.tmpl"}}
<h1 class="title">
  {{ .title }}
</h1>
<p class="color-red">{{ .content }}</p>
<img alt="application logo" src="/assets/logo.png">
<img alt="random image" src="/assets/gopher.png">

{{template "layouts/_pkg_vue.tmpl"}}
<div id="app"></div>

<link rel="stylesheet" href="/assets/controllers/home/index.css">
<script src="/assets/controllers/home/index.js"></script>

{{template "layouts/footer.tmpl"}}
{{ end }}
