{{ define "home/index.tmpl" }}
{{template "layouts/header.tmpl"}}
  <h1 class="title">
  {{ .title }}
</h1>
<p class="color-red">{{ .content }}</p>
<img alt="application logo" src="/assets/logo.png">
<img alt="random image" src="/assets/gopher.png">

{{template "layouts/_pkg_vue.tmpl"}}
<div id="app"></div>

{{template "layouts/footer.tmpl"}}

<link rel="stylesheet" type="text/css" href="/assets/controllers/home/index.css">
<script type="text/javascript" src="/assets/controllers/home/index.js"></script>
{{ end }}
